.skills {
    background: $bg-color-2;
    padding: 4.375rem 0;

    &__flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    &__box {
        padding: 0 0.9375rem;
        &:not(:last-child) {
            margin-bottom: 1.875rem;
        }
    }

    &__item {}

    &__img {}

}